/*my styles*/

@import url('https://fonts.googleapis.com/css?family=Oswald:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700i');


h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  text-align: left;
  line-height: 1.5em;
  color: 	#343434;
}

p {
  font-family: 'Playfair Display', serif;
}

a {
  color: #64a4bf;
}

a:hover {
  color: #4b94b0;
}

.big-text1{
  text-align: left;
  font-size: 2.1em;
}

.header {
  text-align: left;
  line-height: 0.2em;
}

h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: left;
  color: 	#343434;
}

h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: left;
  color: 	#343434;
}

.mobile {
  display: none !important;
}

.large {
  display: block !important;
}

.intro {
padding-bottom: 20px;
}

.sub1{

}

.caption1{
  padding-top: 10px;
  padding-bottom: 20px;
}

.chart1 {

}

@media only screen and (max-width : 768px) {

  .mobile {
    display: block !important;
  }

  .large {
    display: none !important;
  }

  h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-align: left;
    padding: none;
  }

  .sub1{
    padding-bottom: 10px;
    text-align: left;
  }

  .intro {
  padding-bottom: 20px;
  }

  .caption1{
    padding-top: 10px;
    padding-bottom: 0px;
  }

}
